<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Over ons</h4>
                <div class="hline-w"></div>
                <p>Informatie over uw computer en wat de grote buitenwereld eenvoudig kan aflezen. Bekijk je IP adres, de UserAgent van je webbrowser en andere data die vrij beschikbaar is.</p>
            </div>
            <div class="col-lg-4">
                <h4>&nbsp;</h4>
                <div class="hline-w"></div>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <h4>Online media</h4>
                <div class="hline-w"></div>
                <p>
                    Deze website is tot stand gekomen door een webontwikkelaar die meerdere concepten online heeft en uitprobeert. Het perfectioneren van de online wereld en zijn eigen kwaliteiten naar een hoger niveau tillen is een van de speerpunten in het leven van de bouwer van dit platform.
                </p>
            </div>

        </div>
    </div>
</div>